rombo.egg-info/
rombo/__pycache__
rombo/dimensionality_reduction/__pycache__
rombo/interpolation/__pycache__
rombo/optimization/__pycache__
rombo/rom/__pycache__
rombo/test_problems/__pycache__
build/
examples/airfoil/50_samples_rae2822/
examples/airfoil/infill_samples/
examples/airfoil/GBO_results.mat