aromad.egg-info/
rombo/__pycache__
rombo/dimensionality_reduction/__pycache__
rombo/interpolation/__pycache__
rombo/optimization/__pycache__
rombo/rom/__pycache__
rombo/test_problems/__pycache__
build/
examples/airfoil/init_samples/
examples/airfoil/infill_samples/